/*
Sections:
  - Setup
  - General Styling
    - General Styling - Glass Container
    - General Styling - Dashboard Container
    - General Styling - Links Container
    - General Styling - Pro Container
    - General Styling - Games Container
    - General Styling - Cards Container
  - General Styling - Typography
*/

/** Setup **/
:root {
  --clr-neutral-100: white;
  --clr-neutral-300: hsl(0, 0%, 93%);
  --clr-neutral-900: black;

  --clr-blue-100: hsl(203, 42%, 77%);
  --clr-blue-400: hsl(188, 79%, 67%);
  --clr-blue-900: hsl(210, 31%, 51%);

  --clr-green-100: hsl(177, 53%, 62%);
  --clr-green-400: hsl(171, 42%, 54%);

  --ff-primary: Poppins, Arial, sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-base: 16px;
  --fs-100: 0.6rem;
  --fs-200: 0.8rem;
  --fs-300: 0.9rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-primary-heading: var(--fs-700);
  --fs-body: var(--fs-500);
  --fs-nav: var(--fs-500);
  --fs-name: var(--fs-300);
  --fs-small: var(--fs-200);

  --size-0: 0;
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
  --size-1000: 6rem;
  --size-1100: 7rem;

  --content-padding: var(--size-400);
}
/** Setup - End **/

/** General Styling **/
body {
  --padding: var(--size-400);

  font-size: var(--fs-base);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  background-image: linear-gradient(
    to bottom left,
    var(--clr-blue-400),
    var(--clr-green-400)
  );
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--clr-blue-900);
  position: relative;
}

/** General Styling - Glass Container **/
.glass {
  width: max(48em, 80vw);
  min-height: 80vh;
  display: grid;
  grid-template-columns: 250px calc(100% - 250px - 2em);
  gap: var(--size-400);
  overflow-x: auto;
  border-radius: var(--size-500);
  background: var(--clr-neutral-100);
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(1.5rem);
}

.circle1,
.circle2 {
  --size: 20em;

  border-radius: 50%;
  background: var(--clr-neutral-100);
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  width: var(--size);
  height: var(--size);
  position: absolute;
  z-index: -1;
}

.circle1 {
  top: 5vh;
  right: 3vw;
}

.circle2 {
  left: 3vw;
  bottom: 5vh;
}

/** General Styling - Dashboard Container **/
.dashboard {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 7.5em;
  gap: var(--size-300);
  border-radius: var(--size-500);
  overflow: hidden;
  padding: var(--content-padding);
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  max-width: 5rem;
  margin-bottom: var(--size-300);
}

.name {
  font-weight: var(--fw-bold);
}

.account-type {
  font-size: var(--fs-small);
}

/** General Styling - Links Container **/
.links {
  display: flex;
  flex-direction: column;
  gap: var(--size-600);
  align-self: center;
  padding-inline: var(--size-600);
}

.link-image {
  width: 1.8em;
}

.link {
  display: flex;
  gap: var(--size-400);
  align-items: center;
}

.link-text {
  font-size: var(--fs-nav);
  font-weight: var(--fw-medium);
}

/** General Styling - Pro Container **/
.pro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-300);
  background-image: linear-gradient(
    to bottom left,
    var(--clr-blue-400),
    var(--clr-green-400)
  );
  border-radius: var(--size-500);
  padding: var(--size-400);
  align-items: center;
}

.pro-text {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
}

/** General Styling - Games Container **/
.games {
  display: grid;
  gap: var(--size-400);
  padding: var(--size-700);
  border-radius: var(--size-500);
  overflow: hidden;
  align-items: center;
}

.status-text {
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.status-input {
  --width: 15em;

  border-radius: 100vmax;
  padding: var(--size-100) var(--size-300);
  background-color: rgba(255, 255, 255, 0.8);
  min-width: var(--width);
  border: none;
}

/** General Styling - Cards Container **/
.cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--size-500);
}

.card {
  display: grid;
  gap: var(--size-400);
  grid-template-columns: 1fr 4fr 0.5fr;
  grid-auto-flow: column;
  border-radius: var(--size-500);
  background-color: var(--clr-neutral-100);
  padding: var(--size-400);
  max-height: 8em;
}

.card-image {
  border-radius: var(--size-500);
}

.card-info {
  display: grid;
  gap: var(--size-200);
}

.card-heading {
  font-weight: var(--fw-medium);
  line-height: 1;
}

.card-text {
  font-size: var(--fs-small);
}

.progress {
  --height: var(--size-400);
  --progress: 0%;

  background-color: var(--clr-neutral-300);
  border-radius: 100vmax;
  height: var(--height);
  position: relative;
  overflow: hidden;
}

.progress::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(
    to bottom left,
    var(--clr-blue-400),
    var(--clr-green-400)
  );
  inset: 0 auto 0 0;
  width: var(--progress);
}

.percentage {
  text-align: right;
  color: var(--clr-green-400);
  font-weight: var(--fw-medium);
}

/** General Styling - End **/

/** General Styling - Typography **/
strong {
  font-weight: var(--fw-bold);
}
/** General Styling - Typography - End **/
